<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDZp66OovrHNt1JjfJKqL70c_wNpj6xbBM</string>
	<key>GCM_SENDER_ID</key>
	<string>815282867966</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ejemplo2.delivery</string>
	<key>PROJECT_ID</key>
	<string>delivery-b75a6</string>
	<key>STORAGE_BUCKET</key>
	<string>delivery-b75a6.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:815282867966:ios:f83a6303072a4a15625faf</string>
</dict>
</plist>